{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <h2 class="text-center" style="font-family: 'Noto Sans', sans-serif;">{% trans 'Registration' %}</h2>
        <div class="form-row mt-5">
            <div class="col-md-6 mb-2">
               <input type="text" name="username" id="username" class="form-control" placeholder="{% trans 'First name' %}" style="font-family: 'Rubik', sans-serif; border-radius: 50px;" required>
            </div>
            <div class="col-md-6 mb-2">
                <input type="text" name="last_name" id="username" class="form-control" placeholder="{% trans 'Last name' %}" style="font-family: 'Rubik', sans-serif; border-radius: 50px;" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-2">
               <input type="email" name="email" id="username" class="form-control" placeholder="{% trans 'Email Address' %}" style="font-family: 'Rubik', sans-serif; border-radius: 50px;" required>
            </div>
            <div class="col-md-6 mb-2">
               <input type="tel" name="phone" id="phone" class="form-control" placeholder="{% trans 'Phone' %}" style="font-family: 'Rubik', sans-serif;border-radius: 50px;" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <input type="password" name="password1" class="form-control" id="password" placeholder="{% trans 'Password' %}" style="font-family: 'Rubik', sans-serif; border-radius: 50px;" required>
            </div>
            <div class="col-md-6">
                <input type="password" name="password2" id="password" class="form-control" placeholder="{% trans 'Confirm Password' %}" style="font-family: 'Rubik', sans-serif; border-radius: 50px;" required>
            </div>
        </div>

        <p class="mt-2" style="font-family: 'Rubik', sans-serif;">{% trans "Already a member?" %} <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>.</p>
        <input type="submit" class="btn btn-primary py-2 px-4" value="{% trans 'Sign up' %}" style="font-family: 'Rubik', sans-serif; margin-top: -10px; border-radius: 35% 5%;">
    </form>
{% endblock %}